/bin/
/out/
.gradle
build
.classpath
.settings
.project
*.iws
*.ipr
target/

fitnesse/results
!fitnesse/FitNesseRoot/
fitnesse/FitNesseRoot/*
!fitnesse/FitNesseRoot/MyApp
fitnesse/FitNesseRoot/MyApp/content.txt
