.DS_Store
*~
.*sw[a-z]

*.pyc
*.bundle
.idea/
.idea_modules/
*.iml
target/
php/vendor
/js/**/node_modules
csharp/dotnet/Kata/.vs
csharp/dotnet/Kata/packages
csharp/dotnet/Kata/**/bin
csharp/dotnet/Kata/**/obj
/csharp/dotnet/Kata/**/*.user
